<div class="tab-content hidden" id="finance">

<br/>
    <center><%= image_tag 'graph.png', class: "img-main" %>
  <h2>Conseils Financiers</h2>
  <p>Ne vous contentez de conseils financiers génériques. Nous offrons un service adapté à vos besoins. </p><br/><br/>
  <div class="usp">
  <div><%= image_tag 'calendar.png', class: "img-usp" %><br/>Planification</div>
  <div><%= image_tag 'business-presentation.png', class: "img-usp" %><br/>Expertise</div>
  <div><%= image_tag 'shield.png', class: "img-usp" %><br/>Securité</div>
  </div>
  </center>
  <br/><br/>


  <!-- Debut modal -->
  <center><a type="button" class="more" data-toggle="modal" data-target=".finance" >Pour en savoir plus sur nos services financiers</a></center>


  <div class="modal fade finance" id="finance" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content" style="padding:20px;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

<!-- fin modal -->
 <h2>Finance</h2>
 <article id="wpex20">
    <label for="an20"><div class="plus">Recherche de financement</div></label>
      <input class="exp-details" id="an20" type="checkbox">
    <div style="display: none;">
      <p>En fonction des besoins déterminés
.</p>
    </div>
  </article>
  <article id="wpex21">
   <label for="an21"><div class="plus"> Aides & subventions</div> </label>
    <input class="exp-details" id="an21" type="checkbox">
    <div style="display: none;">
      <p>Indépendamment de la recherche de financement préalablement réalisée, nous regardons quelles sont les aides et subventions qui peuvent correspondre à votre situation.</p>
    </div>
  </article>
  <article id="wpex26">
    <div><label for="an26"><div class="plus">Statégie Haut de bilan </div> </label></div>
      <input class="exp-details" id="an26" type="checkbox">
      <div style="display: none;">
        <p>Nous vous accompagnons dans la réflexion de réalisation de partenariats éventuels qui peuvent être adaptés à votre expansion.</p>
      </div>
  </article>
  <article id="wpex27">
    <div><label for="an27"><div class="plus"> Stratégie trésorie</div> </label></div>
    <input class="exp-details" id="an27" type="checkbox">
    <div style="display: none;">
En fonction de votre activité, des constats passés et des prévisions, nous vous accompagnons dans l’optimisation de la gestion de trésorerie.</p>
    </div>
  </article>
</div>
<!-- modal -->
    </div>
  </div>
</div>
