<div class="tab-content hidden" id="fo">

<br/>
    <center><%= image_tag 'record.png', class: "img-main" %>
  <h2>Family Office</h2>
  <p>Notre cabinet peut vous assister pour optimiser vos rémunérations</p><br/><br/>
  <div class="usp">
  <div><%= image_tag 'shield.png', class: "img-usp" %><br/>Protection</div>
  <div><%= image_tag 'cloud-computing.png', class: "img-usp" %><br/>Discrétion</div>
  <div><%= image_tag 'check-mark.png', class: "img-usp" %><br/>Solutions adaptées</div>
  </div>
  </center>
  <br/><br/>

  <!-- Large modal -->
<center><a type="button" class="more" data-toggle="modal" data-target=".fo">Pour en savoir sur le family office</a></center>

<div class="modal fade fo" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">

       <div class="modal-content" style="padding:20px;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
 <h2>Family Office</h2>
 <article id="wpex80">
    <label for="an80"><div class="plus">IRPP</div></label>
      <input class="exp-details" id="an80" type="checkbox">
    <div style="display: none;">
      <p>Nous assurons vos déclarations sur le revenu et vous apportons les conseils les plus adaptés à l’optimisation de votre situation.</p>
    </div>
  </article>
  <article id="wpex81">
   <label for="an81"><div class="plus"> Optimisation rémunération </div> </label>
    <input class="exp-details" id="an81" type="checkbox">
    <div style="display: none;">
      <p>Grâce à la connaissance de votre dossier personnel et de votre entité, nous sommes à même de vous proposer les solutions adaptées et optimisées.
</p>
    </div>
  </article>
  <article id="wpex82">
    <div><label for="an82"><div class="plus">Diagnostique pour votre retraite</div> </label></div>
      <input class="exp-details" id="an82" type="checkbox">
      <div style="display: none;">
        <p>Nous pouvons porter un diagnostic sur votre situation à fin d’anticiper vos prises de décisions améliorer votre future situation ainsi que celle de votre Entourage.
</p>
      </div>
  </article>
  <article id="wpex83">
    <div><label for="an83"><div class="plus"> Stratégie de transmission</div> </label></div>
    <input class="exp-details" id="an83" type="checkbox">
    <div style="display: none;">
      <p> Nous vous accompagnons pour mettre en place et surtout optimiser votre stratégie de transmission qu’elle soit à titre gratuit et/ou onéreux et de mettre en place bien à l’avance les structures juridiques les plus favorables.
</p>
    </div>
  </article>
    <article id="wpex84">
   <label for="an84"><div class="plus"> ISF</div> </label>
    <input class="exp-details" id="an84" type="checkbox">
    <div style="display: none;">
      <p>Nous assurons vos déclarations et pouvons vous aider à orienter et anticiper les prochaines.

</p>
    </div>
  </article>
  <article id="wpex85">
    <div><label for="an85"><div class="plus">Protection du dirigeant</div> </label></div>
      <input class="exp-details" id="an85" type="checkbox">
      <div style="display: none;">
        <p>Grâce à la connaissance de votre situation personnelle et de celle de votre entité, nous sommes à même de vous proposer les solutions, les plus justes dans l’intérêt de votre entité et du vôtre.

</p>
      </div>
  </article>
  <article id="wpex86">
    <div><label for="an86"><div class="plus"> Loi Dutreil</div> </label></div>
    <input class="exp-details" id="an86" type="checkbox">
    <div style="display: none;">
      <p> Nous assurons la mise en place et la gestion des différents actes nécessaires à optimiser une transmission à titre gratuit (succession donation), ou votre ISF en profitant d’un abattement de 75 %.

</p>
    </div>
  </article>
</div></div></div></div>
