<div class="header">
  <div class="content-header">
    <div class="logo">
      <p><% link_to 'index.html' do %>
          <%= image_tag 'favicon.png', style:'width: 150px;' %>
          <% end %>
      </p>
    </div>
    <div class="menu">
      <p><a href="noscreations.html" class="more"> <h6>Nos créations  <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
 </h6></a></p>
      <p><a href="#paris" class="more"> <h6>Les Fondateurs  <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
</h6></a></p>
      <p><a href="contact.html" class="more"><h6> Contact  <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
</h6></a></p>
      <p><a href="presse.html" class="more"> <h6>Presse  <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
</h6></a></p>
      <p><a href="remerciements.html" class="more"><h6> Remerciements  <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
</h6></a></p>
    </div>
    <div class="footer">
      <i class="fa fa-youtube" aria-hidden="true"></i>
      <i class="fa fa-facebook" aria-hidden="true"></i>
      <i class="fa fa-twitter" aria-hidden="true"></i>
    </div>
  </div>
</div>
