<div class="tab-content hidden" id="juridique">

  <br/>
    <center><%= image_tag 'auction.png', class: "img-main" %>
  <h2>Conseil juridique</h2>
  <p>Nos maîtres en droit des affaires peuvent assurer l'assistance juridique de vos projets.</p><br/><br/>
  <div class="usp">
  <div><%= image_tag 'idea.png', class: "img-usp" %><br/>Expertise</div>
  <div><%= image_tag 'like.png', class: "img-usp" %><br/>Simplicité</div>
  <div><%= image_tag 'check-mark.png', class: "img-usp" %><br/>Fiabilité</div>
  </div>
  </center>
  <br/><br/>

    <!-- Large modal -->
  <center><a type="button" class="more" data-toggle="modal" data-target=".legal">Pour en savoir plus sur nos services juridiques</a></center>

  <div class="modal fade legal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content" style="padding:20px;">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>



                   <div class="container"><div class="row">
                    <div class="col-sm-4">       <h2>Assistance Juridique</h2>             <article id="wpex31">
                      <label for="an31"><div class="plus"> Assistance juridique</div></label>
                        <input class="exp-details" id="an31" type="checkbox">
                      <div style="display: none;">
                        <p>En complément de nos missions, une équipe de juriste au sein de notre cabinet est en mesure d’assurer un service toujours plus adapté à vos besoins avec une tarification toujours plus juste afin que nous soyons pour vous un partenaire indispensable dans vos affaires
              .</p>
                      </div>
                    </article>
                    <article id="wpex32">
                     <label for="an32"><div class="plus"> Distribution de dividendes </div> </label>
                      <input class="exp-details" id="an32" type="checkbox">
                      <div style="display: none;">
                        <p>Nous vous aidons à optimiser en fonction de votre situation et de celle de l’entité les meilleurs choix ainsi qu’à anticiper la fiscalité la trésorerie qui en découlent.
              </p>
                      </div>
                    </article>
                    <article id="wpex30">
                      <div><label for="an30"><div class="plus"> Diagnostic général Agoa </div> </label></div>
                        <input class="exp-details" id="an30" type="checkbox">
                        <div style="display: none;">
                          <p>Au-delà de la vérification de la régularité, nous réalisons chaque année avec vous un Diagnostic général de votre dossier.</p>
                        </div>
                    </article>
                    <h2>Autres secteurs juridiques</h2>
                    <article id="wpex33">
                      <div><label for="an33"><div class="plus"> Constitution de société</div> </label></div>
                      <input class="exp-details" id="an33" type="checkbox">
                      <div style="display: none;">
                        <p> Après vous avoir reçu et avoir compris votre «business model» et fait avec vous votre «business plan», nous vous préconisons en vous explicitant les meilleurs choix, avec les conséquences sur le plan juridique, social et fiscal.
              </p>
                      </div>
                    </article>
                    <article id="wpex34">
                      <label for="an34"><div class="plus"> Modifications </div> </label>
                      <input class="exp-details" id="an34" type="checkbox">
                      <div style="display: none;">
                      <p> Siège, direction, statuts périodiquement ou à la demande, nous nous chargeons des formalités nécessaires.
              </p>
                      </div>
                    </article>

                    <article id="wpex35">
                      <div><label for="an35"><div class="plus">Modification forme sociale et fiscale </div></label></div>
                      <input class="exp-details" id="an35" type="checkbox">
                      <div style="display: none;">
                        <p>En prolongement de nos autres missions de nos rendez-vous nous sommes à même de vous proposer l’adaptation afin d’optimiser les conséquences juridiques sociales et fiscales.
              </p>
                      </div>
                    </article>

                    <article id="wpex36">
                      <div><label for="an36"><div class="plus"> Cession de parts simples</div> </label></div>
                      <input class="exp-details" id="an36" type="checkbox">
                      <div style="display: none;">
                        <p>Nous nous chargeons de l’ensemble des formalités, accompagné bien évidemment de la garantie de passif
              </p>
                      </div>
                    </article></div>
                   <div class="col-sm-4">
              <h2>Opérations particulières</h2>
                    <article id="wpex37">
                      <div><label for="an37"><div class="plus">Acquisition/cession de sociétés </div> </label></div>
                      <input class="exp-details" id="an37" type="checkbox">
                      <div style="display: none;">
                        <p>Nous vous accompagnons à la fois sur le plan des opportunités de gestion, des analyses fiscales appropriées est à la négociation et rédaction des différents actes afin d’assurer une retranscription fiable des accords.
              </p>
                      </div>
                    </article>
                    <article id="wpex38">
                     <label for="an38"><div class="plus">Acquisition/cession fond de commerce et baux</div></label>
                      <input class="exp-details" id="an38" type="checkbox">
                      <div style="display: none;">
                        <p> Nous sommes, grâce à des partenariats avec nos correspondants avocats (ou les vôtres), à même d’assurer dans le strict respect des obligations de délai et de publicité, le bon déroulement des actes de cession de fonds de commerce ou de beaux commerciaux.
              Siège, direction, statuts périodiquement ou à la demande, nous nous chargeons des formalités nécessaires.</p>
                      </div>
                    </article>

                    <article id="wpex39">
                      <div><label for="an39"><div class="plus">Pactes d'associés</div></label>
                      <input class="exp-details" id="an39" type="checkbox">
                      <div style="display: none;">
                        <p>Nous sommes à même de vous proposer des pactes entre vos associés et vous. Ceci vous assure une conduite et une pratique conforme tout au long de la vie de la société même en cas de départ.
              </p>
                      </div>
                    </article>

                    <article id="wpex40">
                      <div><label for="an40"><div class="plus"> Marques et brevets</div></label></div>
                      <input class="exp-details" id="an40" type="checkbox">
                      <div style="display: none;">
                        <p>Nous pouvons vous accompagner dans le dépôt des marques et de brevet et de gérer la relation avec le cabinet technique.
                        </p>
                      </div>
                    </article>

                    <article id="wpex41">
                      <div><label for="an41"><div class="plus">Conformité CNIL </div> </label></div>
                      <input class="exp-details" id="an41" type="checkbox">
                      <div style="display: none;">
                        <p>Nous nous chargeons de la conformité de votre système d’information avec les obligations de la CNIL.
              </p>
                      </div>
                    </article>
                    <article id="wpex42">
                     <label for="an42"><div class="plus">Restructuration et fusion</div></label>
                      <input class="exp-details" id="an42" type="checkbox">
                      <div style="display: none;">
                        <p> Après analyse de vos différentes entités, nous sommes à même de vous proposer des solutions optimales de restructuration ou de fusion et d’assurer dans le respect des procédures et des délais la rédaction des actes qui découlent de notre analyse.
              .</p>
                      </div>
                    </article>
                    <article id="wpex43">
                     <label for="an43"><div class="plus">Convention de groupe (m.fees, trésorerie)</div></label>
                      <input class="exp-details" id="an43" type="checkbox">
                      <div style="display: none;">
                        <p> Notre cabinet ayant une connaissance de votre dossier comptable et administratif, notre équipe de juriste est à même de vous proposer et surveiller la bonne application des conventions entre les différentes sociétés de votre groupe qu’elle soit commerciale ou financière.</p>
                      </div>
                    </article>
                    <article id="wpex44">
                     <label for="an44"><div class="plus">Analyse et suivi  de contrats</div></label>
                      <input class="exp-details" id="an44" type="checkbox">
                      <div style="display: none;">
                        <p> Nous sommes à même de porter un diagnostic est une analyse plus approfondie avec nos correspondants avocat ou les vôtres.
              </p>
                      </div>
                    </article>
                    <article id="wpex45">
                     <label for="an45"><div class="plus">Cession de parts simples</div></label>
                      <input class="exp-details" id="an45" type="checkbox">
                      <div style="display: none;">
                        <p> Nous nous chargeons de l’ensemble des formalités, accompagné bien évidemment de la garantie de passif
              </p>
                      </div>
                    </article></div></div></div>

        </div>
      </div>
    </div>
</div>
