<section id="marseille">
<!--   <div class="banner-top">

  </div> -->
  <div class="banner-city" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.4) 0%, rgba(0,36,61,0.4) 50%), url('<%= image_path 'marseille2.jpg' %>');">
    <div class="map">
       <iframe style="float:right;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d169184.96457923006!2d5.230920622958535!3d43.31792387428162!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf44f60c2b141bcb6!2sCabinet+ABEILLE+CONSULTANTS+ASSOCIES!5e0!3m2!1sen!2sfr!4v1505231541229" width="50%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="banner-content-city">
      <h2>Cabinet Abeille Consultant Associés</h2>
        <p><i class="fa fa-home" aria-hidden="true"></i><br/> 9 Rue d'Arcole 13006, Marseille
        </p>
        <p><i class="fa fa-phone" aria-hidden="true"></i><br/> 04 91 13 80 90
        <div class="btn-medium" style="margin: 20px;"><i class="fa fa-envelope-o" aria-hidden="true"></i><br/><a href="mailto:abeille@aca-consult.com"> Contactez-nous </a></p>
        </div>
        </p>
    </div>
  </div>
</section>
