<section id="paris">
<!--  <div class="banner-top">
    <h2>Cabinet CDG</h2>
  </div> -->
  <div class="banner-city" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.4) 0%, rgba(0,36,61,0.4) 50%), url('<%= image_path 'paris.jpg' %>');">
    <div class="map">
      <iframe style="float:left;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10505.614675339048!2d2.3439693248901046!3d48.83143846692908!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e671eca8f4942d%3A0xb0f678e1b2bbf9c0!2sC+D+G!5e0!3m2!1sen!2sfr!4v1505231743719" width="50%" height="100%" frameborder="0" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="banner-content-city">
     <h2>Cabinet CDG</h2>
      <p><i class="fa fa-home" aria-hidden="true"></i> <br/>40 rue Pascal 75013</p>
      <p><i class="fa fa-phone" aria-hidden="true"></i> <br/>01 44 08 71 60</p>
      <div class="btn-medium" style="margin: 20px;"><i class="fa fa-envelope-o" aria-hidden="true"></i><br/><a href="mailto:cdg@aca-consult.com"> Contactez-nous </a></p></div>

    </div>
  </div>
</section>
