<div class="tab-content hidden" id="rh">

<br/>
    <center><%= image_tag 'network.png', class: "img-main" %>
  <h2>Ressources Humaines</h2>
  <p>De la rédaction de contrat de travail à votre charte informatique, nos experts peuvent vous assister</p><br/><br/>
  <div class="usp">
  <div><%= image_tag 'online-shop.png', class: "img-usp" %><br/>Solutions Digitales</div>
  <div><%= image_tag 'auction.png', class: "img-usp" %><br/>Expertise Légale</div>
  <div><%= image_tag 'check-mark.png', class: "img-usp" %><br/>Solutions adaptées</div>
  </div>
  </center>
  <br/><br/>

  <!-- Large modal -->
<center><a type="button" class="more" data-toggle="modal" data-target=".rht">Pour en savoir plus sur nos services en ressources humaines</a></center>

<div class="modal fade rht" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">

       <div class="modal-content" style="padding:20px;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
 <h2>Ressources Humaines</h2>
 <article id="wpex50">
    <label for="an50"><div class="plus">Le document unique</div></label>
      <input class="exp-details" id="an50" type="checkbox">
    <div style="display: none;">
      <p>Nous vous aidons à confectionner et entretenir ce dernier afin d’anticiper et de protéger l’entité et son dirigeant des conséquences d’accident.
</p>
    </div>
  </article>
  <article id="wpex51">
   <label for="an51"><div class="plus"> Entretien professionnel annuel (GPEC)
 </div> </label>
    <input class="exp-details" id="an51" type="checkbox">
    <div style="display: none;">
      <p>Nous assurons la mise en place des grilles d’entretien professionnel et ainsi que les fiches de fonction correspondant à l’organigramme de votre entité.
</p>
    </div>
  </article>
  <article id="wpex52">
    <div><label for="an52"><div class="plus">Organisation d'élections </div> </label></div>
      <input class="exp-details" id="an52" type="checkbox">
      <div style="display: none;">
        <p>Nous nous assurons du bon déroulé et du respect des procédures dans les différentes élections de représentants du personnel auquel votre société est assujettie.</p>
      </div>
  </article>
  <article id="wpex53">
    <div><label for="an53"><div class="plus"> Épargne salariale et politique de rémunération</div> </label></div>
    <input class="exp-details" id="an53" type="checkbox">
    <div style="display: none;">
      <p> Nous vous accompagnons pour déterminer avec vous les meilleurs politiques de rémunération ou d’avantages divers, afin d’optimiser la satisfaction de vos collaborateurs et de minimiser les charges sociales et la fiscalité induite.
</p>
    </div>
  </article>
   <article id="wpex54">
    <label for="an54"><div class="plus">Plan de formation</div></label>
      <input class="exp-details" id="an54" type="checkbox">
    <div style="display: none;">
      <p>Nous assurons la mise en place des grilles d’entretien professionnel et ainsi que les fiches de fonction correspondant à l’organigramme de votre entité.
</p>
    </div>
  </article>
  <article id="wpex55">
   <label for="an55"><div class="plus"> Reglement intérieur & charte informatique </div> </label>
    <input class="exp-details" id="an55" type="checkbox">
    <div style="display: none;">
      <p>Nous pouvons assurer de façon adaptée la mise en place et la révision périodique de :
<li>Du règlement intérieur, afin d’assurer la diffusion d’un code de bonne conduite.</li>
<li>La charte informatique.</li></p>
    </div>
  </article>
  <article id="wpex56">
    <div><label for="an56"><div class="plus">Santé au travail </div> </label></div>
      <input class="exp-details" id="an56" type="checkbox">
      <div style="display: none;">
        <p>Dans le cadre des différentes obligations, nous pouvons vous aider à mettre en place les différentes mesures obligatoires qui mettent votre entreprise à l’abri des infractions et lui permettent aussi d’avoir une responsabilité sociétale exemplaire et positive.
</p>
      </div>
  </article>
  <article id="wpex57">
    <div><label for="an57"><div class="plus"> Les bilans sociaux</div> </label></div>
    <input class="exp-details" id="an57" type="checkbox">
    <div style="display: none;">
      <p> Nous réalisons en accord avec vous un bilan social avec la mise en avant d’indicateurs adaptés.
</p>
    </div>
  </article>
</div></div></div></div>
