<section id="sainttropez">
<!--   <div class="banner-top">
    <h2>Cabinet Michel Aimasso et associés</h2>
  </div> -->
  <div class="banner-city" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.4) 0%, rgba(0,36,61,0.4) 50%), url('<%= image_path 'stropez.jpg' %>');">

      <div class="map">
        <iframe style="float:right;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d743726.5199198734!2d5.4436540000924785!3d43.26856869031348!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xeb1ae2a5f9b70b8!2sCabinet+Michel+Aimasso+Et+Associes!5e0!3m2!1sen!2sfr!4v1505231648165" width="50%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
      <div class="banner-content-city">
      <h2>Cabinet Michel Aimasso et associés</h2>
        <p><i class="fa fa-home" aria-hidden="true"></i><br/> 4-6 avenue du Général Leclerc 83990, Saint-Tropez</p>
        <p><i class="fa fa-phone" aria-hidden="true"></i><br/> 04 94 56 63 20</p>
        <div class="btn-medium" style="margin: 20px;"><i class="fa fa-envelope-o" aria-hidden="true"></i><br/><a href="mailto:aimasso@aca-consult.com"> Contactez-nous </a></p></div>


    </div>
  </div>
</section>

