<div class="tab-content hidden" id="social">

<br/>
    <center><%= image_tag 'archive.png', class: "img-main" %>
  <h2>Social</h2>
  <p>Notre expertise juridique peut vous aider à minimiser les aléas et trouver des solutions adaptées</p><br/><br/>
  <div class="usp">
  <div><%= image_tag 'shield.png', class: "img-usp" %><br/>Protection</div>
  <div><%= image_tag 'auction.png', class: "img-usp" %><br/>Expertise légale</div>
  <div><%= image_tag 'check-mark.png', class: "img-usp" %><br/>Solutions adaptées</div>
  </div>
  </center>
  <br/><br/>

  <!-- Large modal -->
<center><a type="button" class="more" data-toggle="modal" data-target=".social">Pour en savoir plus sur notre expertise sociale</a></center>

<div class="modal fade social" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">

       <div class="modal-content" style="padding:20px;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
 <h2>Paie</h2>
 <article id="wpex63">
    <label for="an63"><div class="plus">Bulletins</div></label>
      <input class="exp-details" id="an63" type="checkbox">
    <div style="display: none;">
      <p>De façon souple (mail, internet), nous réalisons nos diligences rapidement.
</p>
    </div>
  </article>
  <article id="wpex64">
   <label for="an64"><div class="plus">Contrat social</div> </label>
    <input class="exp-details" id="an64" type="checkbox">
    <div style="display: none;">
      <p>Notre préparation au contrôle social minimise les aléas. Nous pouvons assurer la conduite du contrôle.
</p>
    </div>
  </article>
  <article id="wpex65">
    <div><label for="an65"><div class="plus">Charges sociales </div> </label></div>
      <input class="exp-details" id="an65" type="checkbox">
      <div style="display: none;">
        <p>Nous avons pour objectif d’optimiser systématiquement la situation de votre entité.
</p>
      </div>
  </article>
 <h2>Droit du travail</h2>
 <article id="wpex60">
    <label for="an60"><div class="plus">Contrats/avenants</div></label>
      <input class="exp-details" id="an60" type="checkbox">
    <div style="display: none;">
      <p>Nous pouvons vous aider à trouver les meilleures adaptations correspondant à votre situation tout en évitant les écueils, et ce en relation avec nos avocats (lien ARCOLIA).
</p>
    </div>
  </article>
  <article id="wpex61">
   <label for="an61"><div class="plus"> Mesures disciplinaires </div> </label>
    <input class="exp-details" id="an61" type="checkbox">
    <div style="display: none;">
      <p>Nous pouvons vous assister dans l’analyse réelle de la situation (avec la détermination des points forts et des points faibles) et vous aidons à mettre en place la solution la plus adaptée</p>
    </div>
  </article>
  <article id="wpex62">
    <div><label for="an62"><div class="plus">Rupture </div> </label></div>
      <input class="exp-details" id="an62" type="checkbox">
      <div style="display: none;">
      <div class="alinea"> <p><b>Licenciements démissions :</b> Nous pouvons vous assister afin que, à la fois dans la forme et sur la consistance du dossier, vous soyez protégé au maximum.<br/><br/>

<b>Rupture conventionnelle :</b> Nous pouvons vous assister et assurons le formalisme du dossier.<br/><br/>
<b>Transactions :</b> Nous assurons — avec les meilleures adaptations — les conventions permettant de mettre une fin définitive à un conflit.</p>
      </div></div>
  </article>
</div></div></div>
</div>
