---
title: Cécile Heintzmann
---

<%= partial "headerfr" %>


<div class="content" >


        <div class="banner" >
      <div class="banner-content">
        <%= image_tag "cecile.png", style:'width: 250px;' %>
        <h2>Cécile Heintzmann
</h2>

        <p>
           Après 5 ans d'improvisation théâtrale en championnats juniors, Cécile se lance en 2012 en intégrant le Conservatoire de Versailles puis le cycle spécialisé du Conservatoire de St-Germain-en-Laye, qu'elle quittera en juin 2015 avec son diplôme d'études théâtrales. Au printemps 2016, elle joue dans une libre adaptation de Les Trois Sœurs de Tchekhov au Festival À Contre Sens à Paris 3, puis dans Caligula d'Albert Camus (par Haute Société) au Théâtre du Ménilmontant ; ainsi que dans Macbeth de Shakespeare, en VO en Sorbonne IV (par la troupe anglophone de Sophia Wise). Elle parle en effet couramment l'anglais, le français et l'espagnol.


.</p>


      </div>
    </div>
   <div class="banner-2">
      <div class="banner-content">


<div class="shake"><h2>Filmatographie</h2></div><br/>
<p>
<b>2017   -     Déplace le ciel</b> , <i>court-métrage (25’)</i>  Production CDLP
</p>

 <p><i class="fa fa-minus" aria-hidden="true"></i></p>

<p>
<b>2016     -    Voyages étudiants</b> , <i>vidéo promo de l’école</i>IMAC Multimédia-Audiovisuel

</p> <p><i class="fa fa-minus" aria-hidden="true"></i></p>

<p>
<b>2013     -    Connections</b> , <i>spot de prévention</i> école de cinéma EICAR

</p>
<p><i class="fa fa-minus" aria-hidden="true"></i></p><p>
<b>2010-12  -  Plusieurs court-métrages</b> , <i>Option Audiovisuel</i> Lycée

</p>

<br/>
<p>
<div class="shake"><h2>Théâtre</h2></div><br/>
</p>
<p>
<b>2017   -   Le Médecin Malgré Lui - <i>Molière</i> </b> <br/>   Philippe V. & Anne-Sophie Nedelec-Vandaele
Le Grenier, Bougival, et Jean Vilar, Marly-le-Roi (78)
Rôle en doublon, prochaine date : 19 décembre 2017
</p>

 <p><i class="fa fa-minus" aria-hidden="true"></i></p>

<p>
<b>2017   -   Dos Viejos Pánicos - <i>Virgilio Piñera</i> </b> <br/>    courte adaptation
La Complutense, Madrid, VO espagnol, mai 2017

</p>

 <p><i class="fa fa-minus" aria-hidden="true"></i></p>


<p>
<b>2016   -   Macbeth - <i>Shakespeare</i> </b> <br/>    troupe anglophone de Sophia Wise
Paris-Sorbonne IV, VO anglais surtitrée français, mai 2016
</p>

 <p><i class="fa fa-minus" aria-hidden="true"></i></p>


<p>
<b>2016   -   Caligula - <i>Albert Camus</i> </b> <br/>    par Haute Société, m.e.s. Diane Richard
Théâtre du Ménilmontant, mai 2016

</p>

 <p><i class="fa fa-minus" aria-hidden="true"></i></p>


<p>
<b>2016   -    libre adaptation de Les Trois Sœurs - <i>Tchekhov</i> </b> <br/>   libre adaptaion, création collective  Festival À Contre Sens, Nouvelle Sorbonne Paris 3, mars 2016

</p>

 <p><i class="fa fa-minus" aria-hidden="true"></i></p>


<p>
<b>2015-2016   -   Juste la fin du monde  - <i>Jean-Luc Lagarce</i> </b> <br/>  Théâtre Alexandre Dumas et Salle Tati de Saint-Germain-en-Laye (78)
Festival étudiant de Cabourg, Félicitations du Jury, avril 2016

</p>

 <p><i class="fa fa-minus" aria-hidden="true"></i></p>








 </div>
    </div>



      </div>

