---
title: Cécile Heintzmann
---

<%= partial "headerfr" %>


<div class="content" >


        <div class="banner" >
      <div class="banner-content">
        <%= image_tag "cecile.png", style:'width: 250px;' %>
        <h2>Cécile Heintzmann
</h2>

        <p>
           Après 5 ans d'improvisation théâtrale en championnats juniors, Cécile se lance en 2012 en intégrant le Conservatoire de Versailles puis le cycle spécialisé du Conservatoire de St-Germain-en-Laye, qu'elle quittera en juin 2015 avec son diplôme d'études théâtrales. Au printemps 2016, elle joue dans une libre adaptation de Les Trois Sœurs de Tchekhov au Festival À Contre Sens à Paris 3, puis dans Caligula d'Albert Camus (par Haute Société) au Théâtre du Ménilmontant ; ainsi que dans Macbeth de Shakespeare, en VO en Sorbonne IV (par la troupe anglophone de Sophia Wise). Elle parle en effet couramment l'anglais, le français et l'espagnol.


.</p>


      </div>
    </div>




      </div>

