---
title: Charlotte Gasser
---

<%= partial "headerfr" %>


<div class="content" >


        <div class="banner" >
      <div class="banner-content">
        <%= image_tag "charlotte.png", style:'width: 250px;' %>
        <h2>Charlotte Gasser
</h2>

        <p>
           Après avoir suivi plusieurs années de formation théâtrale (Conservatoire de Chatou, Cours Florent et conservatoire de St-Germain-en-Laye) Charlotte obtient en 2015 son diplôme d'études théâtrales. Elle assiste Isabelle Mestre dans la mise en scène de La réunification des deux Corées de Joël Pommerat et Le songe d’une nuit d’été de Shakespeare. Charlotte est actuellement chef-décor, costumière et actrice pour la réalisation de plusieurs clips.


.</p>


      </div>
    </div>




      </div>

