---
title: Collectif de théatre : Nous contacter
---

<%= partial "headerfr" %><div class="content" id="index">
    <div class="banner");">
      <div class="banner-content shake">
        <%= image_tag "logo-blanc.png", style:'width: 150px;' %>
        <h2>Collectif de théâtre: Dans la peau</h2>
      <p><b>Réservations et infos :</b><br/> collectif.danslapeau@gmail.com</p>
<p><b>Contacter le Collectif :</b>


<br/>
Charlotte Gasser : 0684562746
<br/>
Paul Contargyris : 0671915183</p>
<p><b>Contacter la Communication :</b><br/>
  Constance Callet : ccallet@live.fr

</p>

​



​

​


​

        <a  href="mailto:collectif.danslapeau@gmail.com" class="btn-medium">Nous envoyer un email</a>
      </div>
    </div>
</div>
