---
title: Nos créations : Déplace le ciel
---

<%= partial "headerfr" %>


<div class="content" >


        <div class="banner" >
      <div class="banner-content">
        <%= image_tag "deplace.png", style:'width: 150px;' %>
        <h2>Déplace le ciel
</h2>
        <p>Film <i>Nicolas Khamsopha</i></p>
        <p>
            Deux comédiennes E et F s’exilent à la campagne pour écrire
une pièce de théâtre. A travers cette recherche d'inspiration pour
trouver les mots justes à écrire et à jouer, ces femmes
réfléchissent sur leur monde et sur le monde, sur ce qu'est être
femme et sur ce qu'est aimer et être aimé.</p>
<p>Contact : deplaceleciel@gmail.com
Marina Ocádiz : 06.49.71.70.88</p>

      </div>
    </div>




      </div>

