---
title: Emma Pujar

---

<%= partial "headerfr" %>


<div class="content" >


        <div class="banner" >
      <div class="banner-content">
        <%= image_tag "emma.png", style:'width: 250px;' %>
        <h2>Emma Pujar
</h2>

        <p>
Emma débute le théâtre par l’improvisation théâtrale puis entre au Conservatoire municipal de Maurepas à 16 ans avant d’auditionner pour le Conservatoire de St-Germain-en-Laye. Parallèlement elle valide une licence d’arts du spectacle à l’université Paris Ouest la Défense. Initiée à l’écriture automatique par Alexandra Badea, elle crée deux pièces La tortue et la larve et Impressions Féminines.

</p>


      </div>
    </div>



     <div class="banner-2">
      <div class="banner-content">


<div class="shake"><h2>Filmatographie</h2></div><br/>


<p>
<b>2016     -    Ignition</b> , <i>long-métrage (65’)</i>Actrice, Production CDLP.

</p>
 <p><i class="fa fa-minus" aria-hidden="true"></i></p>


<br/>
<p>
<div class="shake"><h2>Théâtre</h2></div><br/>
</p>



<p>
<b>2017  -    Demain dès l’aube  - <i>Alex Adarjan</i> </b> <br/> Compagnie Spleen Théâtre, 14 représentations sur Paris et sa banlieue

</p>
 <p><i class="fa fa-minus" aria-hidden="true"></i></p>


<p>
<b>2017  -   Quelque chose de Cyrano   - <i>Aziz Hellal</i> </b> <br/>
Compagnie Kamat Prod, 10 représentations au Théo Théâtre (Paris)


</p>
 <p><i class="fa fa-minus" aria-hidden="true"></i></p>

<p>
<b>2017   -   Impréssions féminines - <i>Emma Pujar</i> </b> <br/> metteure en scène, auteure et comédiennes
- joué à la Flèche d’or en version courte dans le cadre du Festival Aliennes et à Nanterre Université (cdlp)
</p>

 <p><i class="fa fa-minus" aria-hidden="true"></i></p>


<p>
<b>2016   -   Populonirocratie  - <i>Arnaud Patron</i> </b> <br/>Au théâtre des Enfants Terribles (Paris 20), décembre 2016.

</p>
 <p><i class="fa fa-minus" aria-hidden="true"></i></p>


 <p><i class="fa fa-minus" aria-hidden="true"></i></p>








 </div>
    </div>





      </div>

