---
title: Nos créations : Eva
---

<%= partial "headerfr" %>


<div class="content" >


        <div class="banner" >
      <div class="banner-content">
        <%= image_tag "eva.png", style:'width: 150px;' %>
        <h2>Eva
</h2>
        <p>Film <i> Paul Contargyris</i></p>
        <p>A 19 ans, Eva est enceinte. Un choix s’impose à elle : garder son
enfant ou demander un avortement ? Mais peut-elle prendre sa
propre décision quand tous ses proches l’assaillent d’avis
contraires ?</p>
<p>Contact : eva.cdlp@gmail.com
Paul Contargyris : 06.71.91.51.83</p>

      </div>
    </div>




      </div>

