---
title: Florence de Talhouët
---

<%= partial "headerfr" %>


<div class="content" >


        <div class="banner" >
      <div class="banner-content">
        <%= image_tag "florence.png", style:'width: 250px;' %>
        <h2>Florence de Talhouët
</h2>

        <p>
Florence fait du théâtre depuis sa tendre enfance et entre au Conservatoire de St-Germain-en-Laye en 2010. En 2014, elle obtient son certificat d’études théâtrales. Elle fait des études d'Histoire et d'Histoire de l'art et aujourd'hui est en master d'Histoire. Grande lectrice de théâtre, elle est passionnée par l'écriture de Marguerite Duras.




.</p>


      </div>
    </div>




      </div>

