---
title: Florence de Talhouët
---

<%= partial "headerfr" %>


<div class="content" >


        <div class="banner" >
      <div class="banner-content">
        <%= image_tag "florence.png", style:'width: 250px;' %>
        <h2>Florence de Talhouët
</h2>

        <p>
Florence fait du théâtre depuis sa tendre enfance et entre au Conservatoire de St-Germain-en-Laye en 2010. En 2014, elle obtient son certificat d’études théâtrales. Elle fait des études d'Histoire et d'Histoire de l'art et aujourd'hui est en master d'Histoire. Grande lectrice de théâtre, elle est passionnée par l'écriture de Marguerite Duras.




.</p>


      </div>
    </div>

     <div class="banner-2">
      <div class="banner-content">


<div class="shake"><h2>Filmatographie</h2></div><br/>


<p>
<b>2017   -     Déplace le ciel</b> , <i>court-métrage (25’)</i>  Production CDLP
</p>





<br/>
<p>
<div class="shake"><h2>Théâtre</h2></div><br/>
</p>


<b>2017   -   La psychanalyste - <i>Leslie Kaplan</i> </b> <br/> </p>



 <p><i class="fa fa-minus" aria-hidden="true"></i></p>
<p>
<b>2015-2016   -   Juste la fin du monde  - <i>Jean-Luc Lagarce</i> </b> <br/>  Théâtre Alexandre Dumas et Salle Tati de Saint-Germain-en-Laye (78)
Festival étudiant de Cabourg, Félicitations du Jury, avril 2016

</p>

 <p><i class="fa fa-minus" aria-hidden="true"></i></p>








 </div>
    </div>


      </div>

