---
title: Collectif de théatre : Dans la peau
---

<%= partial "headerfr" %>


<div class="content" id="index">
    <div class="banner");">
      <div class="banner-content shake">
        <%= image_tag "logo-blanc.png", style:'width: 150px;' %>
        <h2>Collectif de théâtre: Dans la peau</h2><br/>
        <a  href="#service" class="btn-medium">Découvrir nos créations</a>
      </div>
    </div>
</div>
