---
title: Jean-Baptiste Henry
---

<%= partial "headerfr" %>


<div class="content" >


        <div class="banner" >
      <div class="banner-content">
        <%= image_tag "jb.png", style:'width: 250px;' %>
        <h2>Jean-Baptiste Henry
</h2>

        <p>
C'est en souhaitant canaliser une énergie trop souvent débordante que Jean-Baptiste a fait ses premiers pas au théâtre à l'âge de sept ans. Après être passé par des cours de théâtre moderne ainsi qu'une ligue d'improvisation à Montréal, il est entré au Conservatoire de St-Germain-en-Laye en 2010. En 2014 et 2015 il obtient respectivement son C.E.T puis son D.E.T. et quitte alors le conservatoire. Aujourd'hui étudiant à Grenoble, il est en charge de la mise en scène de la Comédie Musicale de Grenoble EM et également membre titulaire de l'équipe d'improvisation Impropulsion.



.</p>


      </div>
    </div>




      </div>

