---
title: Lucille de Rochegonde

---

<%= partial "headerfr" %>


<div class="content" >


        <div class="banner" >
      <div class="banner-content">
        <%= image_tag "lucille.png", style:'width: 250px;' %>
        <h2>Lucille de Rochegonde
</h2>

        <p>
Lucille a commencé le théâtre à 8 ans en Angleterre pour apprivoiser la langue, ce qui fut une révélation. Elle n'a pas arrêté depuis ce moment-là. Puis à l'âge de 16 ans elle a rejoint le conservatoire de St-Germain-en-Laye, dont elle a obtenu le certificat en 2014 avec mention très bien. Elle a par la suite vécu à Rennes où elle a été membre d'un collectif et d'une troupe. En septembre 2015 elle intègre l'école Claude Mathieu où elle commence une formation de trois ans.

</p>


      </div>
    </div>




      </div>

