---
title: Marina Ocádiz
---

<%= partial "headerfr" %>


<div class="content" >


        <div class="banner" >
      <div class="banner-content">
        <%= image_tag "marina.png", style:'width: 250px;' %>
        <h2>Marina Ocádiz
</h2>

        <p>
Voilà plus de dix ans que Marina a fait ses débuts sur les planches. D’abord formée au sein de cours indépendants, elle rejoint en 2010 le Conservatoire de St-Germain-en-Laye où elle obtient son certificat puis son diplôme d’études théâtrales. Après un Baccalauréat International bilingue espagnol, elle valide une licence de théâtre et cinéma-audiovisuel à la Sorbonne et poursuit ses études théoriques en Master 1 Théâtre. Elle  obtient le prix d'interprétation féminines du Festival Arte Non-Stop de Buenos Aires avec  Ignition, long-métrage écrit et réalisé par Paul Contargyris du CDLP.




.</p>


      </div>
    </div>



 <div class="banner-2">
      <div class="banner-content">


<div class="shake"><h2>Filmatographie</h2></div><br/>
<p>
<b>2017   -     Déplace le ciel</b> , <i>court-métrage (25’)</i>  Production CDLP
</p>

 <p><i class="fa fa-minus" aria-hidden="true"></i></p>

<p>
<b>2016     -    Ignition</b> , <i>long-métrage (65’)</i>Production CDLP.

</p>

<br/>
<p>
<div class="shake"><h2>Théâtre</h2></div><br/>
</p>

<p>
<b>2016/2018   -   Michka - <i>Alex Adarjan</i> </b> <br/> Foyer de Neuville sur Oise (95), décembre 2016.
Théâtre Darius Milhaud (Paris 19), janvier 2018.</p>

 <p><i class="fa fa-minus" aria-hidden="true"></i></p>



<p>
<b>2017   -   Impréssions féminines - <i>Emma Pujar</i> </b> <br/>  Université Paris Ouest Nanterre, mars 2016.
Théâtre de Verre (Paris 20), janvier 2017.</p>

 <p><i class="fa fa-minus" aria-hidden="true"></i></p>


<p>
<b>2015-2016   -   Juste la fin du monde  - <i>Jean-Luc Lagarce</i> </b> <br/>  Théâtre Alexandre Dumas et Salle Tati de Saint-Germain-en-Laye (78)
Festival étudiant de Cabourg, Félicitations du Jury, avril 2016

</p>

 <p><i class="fa fa-minus" aria-hidden="true"></i></p>








 </div>
    </div>






      </div>

