---
title: Marina Ocádiz
---

<%= partial "headerfr" %>


<div class="content" >


        <div class="banner" >
      <div class="banner-content">
        <%= image_tag "marina.png", style:'width: 250px;' %>
        <h2>Marina Ocádiz
</h2>

        <p>
Voilà plus de dix ans que Marina a fait ses débuts sur les planches. D’abord formée au sein de cours indépendants, elle rejoint en 2010 le Conservatoire de St-Germain-en-Laye où elle obtient son certificat puis son diplôme d’études théâtrales. Après un Baccalauréat International bilingue espagnol, elle valide une licence de théâtre et cinéma-audiovisuel à la Sorbonne et poursuit ses études théoriques en Master 1 Théâtre. Elle  obtient le prix d'interprétation féminines du Festival Arte Non-Stop de Buenos Aires avec  Ignition, long-métrage écrit et réalisé par Paul Contargyris du CDLP.




.</p>


      </div>
    </div>




      </div>

