---
title: Créations du collectif
---

<%= partial "headerfr" %>


<div class="content" id="index">


        <div class="banner" >
      <div class="banner-content">

        <h2>Nos créations </h2><br/><br/>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-offset-2 col-sm-3">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('/images/theatre.png');">
  <div class="card-description">
    <h2>Juste la fin du monde</h2>
    <p><i>De Jean-Luc Lagarce</i></p>
  </div>

  <a class="card-link" href="justelafindumonde.html" ></a>
</div>
    </div>
    <div class="col-xs-12 col-sm-3">
      <!-- insert <div class="card"> -->
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('/images/impressions.jpg');">
  <div class="card-description">
    <h2>Impressions Féminines</h2>
    <p><i>De Emma Jujar</i></p>
  </div>

  <a class="card-link" href="impressions-feminines.html" ></a>
</div>
    </div>
    <div class="col-xs-12 col-sm-3">
      <!-- insert <div class="card"> -->
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('/images/affiche.jpg');">
  <div class="card-description">
    <h2>Ignition</h2>
    <p><i>De Paul Contargyris</i></p>
  </div>

  <a class="card-link" href="ignition.html" ></a>
</div>
    </div>
  </div>
  <br/>

    <div class="row">
    <div class="col-xs-12 col-sm-offset-2 col-sm-3">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('/images/eva.png');">
  <div class="card-description">
    <h2>Eva</h2>
    <p><i>Film de Paul Contaryris</i></p>
  </div>

  <a class="card-link" href="eva.html" ></a>
</div>
    </div>
    <div class="col-xs-12 col-sm-3">
      <!-- insert <div class="card"> -->
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('/images/deplace.png');">
  <div class="card-description">
    <h2>Déplace le ciel</h2>
    <p><i>Film De Nicolas Khamsopha</i></p>
  </div>

  <a class="card-link" href="deplaceleciel.html" ></a>
</div>
    </div>

  </div>
</div>
      </div>
    </div>
  </div>

