---
title: Membres de la troupe
---

<%= partial "headerfr" %>


<div class="content" id="index">


        <div class="banner" >
      <div class="banner-content">

        <h2>Nos membres </h2><br/><br/>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-offset-2 col-sm-3">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('/images/cecile.png');">
  <div class="card-description">
    <h2>Cecile Heintzmann</h2>
  </div>

  <a class="card-link" href="cecile.html" ></a>
</div>
    </div>
    <div class="col-xs-12 col-sm-3">
      <!-- insert <div class="card"> -->
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('/images/alice.png');">
  <div class="card-description">
    <h2>Alice Méchin</h2>
  </div>

  <a class="card-link" href="alice.html" ></a>
</div>
    </div>
    <div class="col-xs-12 col-sm-3">
      <!-- insert <div class="card"> -->
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('/images/charlotte.png');">
  <div class="card-description">
    <h2>Charlotte Gasser</h2>
  </div>

  <a class="card-link" href="charlotte.html" ></a>
</div>
    </div>
  </div>
  <br/>

    <div class="row">
    <div class="col-xs-12 col-sm-offset-2 col-sm-3">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('/images/jb.png');">
  <div class="card-description">
    <h2>Jean-Baptiste Henry</h2>
  </div>

  <a class="card-link" href="jb.html" ></a>
</div>
    </div>
    <div class="col-xs-12 col-sm-3">
      <!-- insert <div class="card"> -->
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('/images/gabrielle.png');">
  <div class="card-description">
    <h2>Gabrielle Pennellier</h2>
  </div>

  <a class="card-link" href="gabrielle.html" ></a>
</div>
    </div>

        <div class="col-xs-12 col-sm-3">
      <!-- insert <div class="card"> -->
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('/images/marina.png');">
  <div class="card-description">
    <h2>Marina Ocádiz</h2>
  </div>

  <a class="card-link" href="marina.html" ></a>
</div>
    </div>

  </div>
  <br/>
      <div class="row">
    <div class="col-xs-12 col-sm-offset-2 col-sm-3">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('/images/paul.png');">
  <div class="card-description">
    <h2>Paul Contargyris</h2>
  </div>

  <a class="card-link" href="paul.html" ></a>
</div>
    </div>
    <div class="col-xs-12 col-sm-3">
      <!-- insert <div class="card"> -->
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('/images/florence.png');">
  <div class="card-description">
    <h2>Florence de Talhouët</h2>
  </div>

  <a class="card-link" href="florence.html" ></a>
</div>
    </div>

        <div class="col-xs-12 col-sm-3">
      <!-- insert <div class="card"> -->
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('/images/emma.png');">
  <div class="card-description">
    <h2>Emma Pujar</h2>
  </div>

  <a class="card-link" href="emma.html" ></a>
</div>
    </div>

  </div>
<br/>
      <div class="row">
    <div class="col-xs-12 col-sm-offset-2 col-sm-3">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('/images/lucille.png');">
  <div class="card-description">
    <h2>Lucille de Rochegonde</h2>
  </div>

  <a class="card-link" href="lucille.html" ></a>
</div>
    </div>


  </div>
</div>
      </div>
    </div>
  </div>

