---
title: Paul Contargyris
---

<%= partial "headerfr" %>


<div class="content" >


        <div class="banner" >
      <div class="banner-content">
        <%= image_tag "paul.png", style:'width: 250px;' %>
        <h2>Paul Contargyris
</h2>

        <p>
           Paul rejoint en 2010 le Conservatoire de St- Germain-en-Laye, et participe à divers projets avec le groupe. En parallèle, il a suivi une formation de 2 ans au sein de l’école d’acteurs « 7ème Acte – Le Cours ». Il est également en Master Théâtre à l’université Paris 3 Sorbonne Nouvelle.

.</p>


      </div>
    </div>


     <div class="banner-2">
      <div class="banner-content">


<div class="shake"><h2>Filmatographie</h2></div><br/>


<p>
<b>2016     -    Ignition</b> , <i>long-métrage (65’)</i>Réalisateur / producteur / scénariste / monteur, Production CDLP.

</p>
 <p><i class="fa fa-minus" aria-hidden="true"></i></p>
<p>
<b>2017   -     Eva</b> , <i>court-métrage (25’)</i> Réalisateur / producteur / scénariste / monteur, Production CDLP
</p>



<br/>
<p>
<div class="shake"><h2>Théâtre</h2></div><br/>
</p>

<p>
<b>2017   -   Métro, Huis-Clos, Dodo - <i>Arnaud Patron</i> </b> <br/>Au Théo-Théâtre (Paris 15), d’octobre 2017 à avril 2018.
</p>

 <p><i class="fa fa-minus" aria-hidden="true"></i></p>



<p>
<b>2017   -   Impréssions féminines - <i>Emma Pujar</i> </b> <br/>  Université Paris Ouest Nanterre, mars 2016.
Théâtre de Verre (Paris 20), janvier 2017.</p>

 <p><i class="fa fa-minus" aria-hidden="true"></i></p>


<p>
<b>2016   -   Populonirocratie  - <i>Arnaud Patron</i> </b> <br/>Au théâtre des Enfants Terribles (Paris 20), décembre 2016.

</p>
 <p><i class="fa fa-minus" aria-hidden="true"></i></p>
<p>
<b>2015-2016   -   Juste la fin du monde  - <i>Jean-Luc Lagarce</i> </b> <br/>  Théâtre Alexandre Dumas et Salle Tati de Saint-Germain-en-Laye (78)
Festival étudiant de Cabourg, Félicitations du Jury, avril 2016

</p>

 <p><i class="fa fa-minus" aria-hidden="true"></i></p>








 </div>
    </div>




      </div>

