---
title: Paul Contargyris
---

<%= partial "headerfr" %>


<div class="content" >


        <div class="banner" >
      <div class="banner-content">
        <%= image_tag "paul.png", style:'width: 250px;' %>
        <h2>Paul Contargyris
</h2>

        <p>
           Paul rejoint en 2010 le Conservatoire de St- Germain-en-Laye, et participe à divers projets avec le groupe. En parallèle, il a suivi une formation de 2 ans au sein de l’école d’acteurs « 7ème Acte – Le Cours ». Il est également en Master Théâtre à l’université Paris 3 Sorbonne Nouvelle.

.</p>


      </div>
    </div>




      </div>

