---
title: Collectif de théatre : Presse
---

<%= partial "headerfr" %><div class="content" id="index">
    <div class="banner");">
      <div class="banner-content">
        <%= image_tag "logo-blanc.png", style:'width: 150px;' %>
        <h2>On parle de nous dans la presse:</h2><br/>
      <p><b> TAD ST-GERMAIN-EN-LAYE</b> <i>Le 01/10/2016 </i><br/>ARTICLE : "Juste la fin du monde, de Jean-Luc LAGARCE - Présenté par les élèves du  Conservatoire C.Debussy, le samedi 15 octobre 2016 "
      </p>
        <a  href="#service" class="btn-medium">Lire l'article</a>
<br/><br/>
 <i class="fa fa-minus" aria-hidden="true"></i><br/><br/>
      <p><b> TAD ST-GERMAIN-EN-LAYE</b> <i>Le 01/10/2016 </i><br/>ARTICLE : "Juste la fin du monde, de Jean-Luc LAGARCE - Présenté par les élèves du  Conservatoire C.Debussy, le samedi 15 octobre 2016 "
      </p>
        <a  href="#service" class="btn-medium">Lire l'article</a>
<br/><br/>
 <i class="fa fa-minus" aria-hidden="true"></i>
 <br/><br/>
      <p><b> TAD ST-GERMAIN-EN-LAYE</b> <i>Le 01/10/2016 </i><br/>ARTICLE : "Juste la fin du monde, de Jean-Luc LAGARCE - Présenté par les élèves du  Conservatoire C.Debussy, le samedi 15 octobre 2016 "
      </p>
        <a  href="#service" class="btn-medium">Lire l'article</a>
<br/><br/>
 <i class="fa fa-minus" aria-hidden="true"></i>
 <br/><br/>
      <p><b> TAD ST-GERMAIN-EN-LAYE</b> <i>Le 01/10/2016 </i><br/>ARTICLE : "Juste la fin du monde, de Jean-Luc LAGARCE - Présenté par les élèves du  Conservatoire C.Debussy, le samedi 15 octobre 2016 "
      </p>
        <a  href="#service" class="btn-medium">Lire l'article</a>
<br/><br/>
 <i class="fa fa-minus" aria-hidden="true"></i>
 <br/><br/>
      <p><b> TAD ST-GERMAIN-EN-LAYE</b> <i>Le 01/10/2016 </i><br/>ARTICLE : "Juste la fin du monde, de Jean-Luc LAGARCE - Présenté par les élèves du  Conservatoire C.Debussy, le samedi 15 octobre 2016 "
      </p>
        <a  href="#service" class="btn-medium">Lire l'article</a>
<br/><br/>
 <i class="fa fa-minus" aria-hidden="true"></i>



      </div>
    </div>

